{
  "extends": "eslint-config-airbnb",
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/require-default-props": 0,
    "no-mixed-operators": 0,
    "arrow-parens": 0,
    "indent": 0,
  },
  "parser": "babel-eslint",
  "plugins": ["react"],
  "globals": {
    "document": true,
    "window": true,
    "global": true,
    "module": true,
    "requestAnimationFrame": true,
    "console": true,
    "__dirname": true,
    "require": true,
  },
}
